.wrapper-gray-bg {
  background-color: #ccc;
}

.cards-container {
  display: flex;
  padding-inline: 60px;
  
  p {
    color: hsl(257, 7%, 63%);
    width: 34%;
    text-align: center;
    line-height: 28px;
  }
}

.title-cards {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  
  h3 {
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 42px;
    color:  hsl(260, 8%, 14%);
  }
}


.container-input {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 138px;
  margin-inline: 60px;
  padding: 48px;

  border-radius: 8px;
  background-color: hsl(257, 27%, 26%);
  background-image: url(../../assets/bg-shorten-desktop.svg);

  position: relative;
  bottom: 82px;
  input {
    display: flex;
    flex: 1;
    padding: 20px;

    border-radius: 12px;
    border: none;
    outline: 0;

    font-size: 16px;
  }

  .shortenIt-button {
    border-radius: 8px;
  }
}


.url-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-inline: 60px;
  margin-block: 20px;
  padding-inline: 24px;

  background-color: burlywood;

  input {
    display: flex;
    flex: 1;
    padding: 12px;
    border: navajowhite;
    background-color: transparent;
    outline: 0;
  }

  .copy-button {
    border-radius: 8px;
    padding: 12px 36px;
  }

  .container-copy-link {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {

  // .wrapper-home {
  //   padding: 0;
  // }
  // .container-text-image-home {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }

  // h1 {
  //   font-size: 38px;
  // }

  // .home-text {
  //   width: 100%;
  //   text-align: center;
  // }

  // .home-image {
  //   width: 122%;
  //   margin: 20px 0px 20px 42px;
  // }

  // .home-paragraph {
  //   padding-inline: 16px;
  // }
}